# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
#*.dll
#*.so
#*.so.*
#*.dylib

# Executables
#*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# JX1 Linux data
client/data/adultpermit.pak
client/data/font.pak
client/data/maps.pak
client/data/resource.pak
client/data/serverlist.pak
client/data/serverlistfree.pak
client/data/skills.pak
client/data/slistcache.pak
client/data/slistfree.pak
client/data/sound.pak
client/data/spr.pak
client/data/update.pak
client/data/update01.pak
client/data/update02.pak
client/data/update03.pak
client/data/update04.pak
client/data/update05.pak
client/data/updatejx01.pak
client/data/updatejx02.pak
client/data/updatejx03.pak
client/data/updatejx04.pak
client/data/updatejx05.pak
client/data/updatejx06.pak
client/data/updatejx07_jxf06.pak
client/data/updatejx08.pak
client/data/updatejx09.pak
client/data/updatejx10.pak
client/data/updatejx11.pak
client/data/updatejx12.pak
client/data/updatejx13.pak
client/data/updatejx14.pak
client/data/updatejx15.pak
client/music/happy.mp3
client/music/music001.mp3
client/music/music002.mp3
client/music/music003.mp3
client/music/music100.mp3
client/music/music110.mp3
client/music/music120.mp3
client/music/music130.mp3
client/music/music140.mp3
client/music/music150.mp3
client/music/music160.mp3
client/music/music170.mp3
client/music/music200.mp3
client/music/music201.mp3
client/music/music210.mp3
client/music/music211.mp3
client/music/music220.mp3
client/music/music221.mp3
client/music/music230.mp3
client/music/music231.mp3
client/music/music240.mp3
client/music/music241.mp3
client/music/music300.mp3
client/music/music310.mp3
client/music/music320.mp3
client/music/music330.mp3
client/music/music340.mp3
client/music/music400.mp3
client/music/music401.mp3
client/music/music402.mp3
client/music/music403.mp3
client/music/music404.mp3
client/music/music500.mp3
client/music/music901.mp3
client/music/music902.mp3
client/music/music903.mp3
